@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  width: 100%;
  font-size: 14px;
  line-height: 1.25em;
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.header .group-flex1 {
  display: flex;
  justify-content: space-between;
  margin: 9px 11px 0;
  font-size: 18px;
  font-weight: 600;
}
.header .group-flex1 .logo-gnb {
  display: flex;
  align-items: center;
  color: #ccc;
}
.header .group-flex1 .link-logo {
  position: relative;
  padding: 8px 8px 6px 6px;
}
.header .group-flex1 .link-logo::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  background-color: #eee;
}
.header .group-flex1 .link-logo:first-of-type::after, .header .group-flex1 .link-logo:last-of-type::after {
  content: none;
}
.header .group-flex1 .link-logo:first-of-type {
  padding: 5px 5px 4px;
}
.header .group-flex1 .link-logo:first-of-type::before {
  content: "";
  width: 17px;
  height: 16px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -298px -182px;
}
.header .group-flex1 .link-logo.active {
  color: #000;
}
.header .group-flex1 .link-wrap {
  display: flex;
  align-items: center;
}
.header .group-flex1 .link-wrap a {
  padding: 8px;
}
.header .group-flex1 .link-wrap a::after {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
}
.header .group-flex1 .link-search::after {
  width: 16px;
  height: 16px;
  background-position: -298px -237px;
}
.header .group-flex1 .link-mypage::after {
  width: 29px;
  height: 16px;
  background-position: -180px -245px;
}
.header .group-lnb .lnb-area {
  margin-top: 2px;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  background: #fff;
}
.header .group-lnb .lnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 558px;
  height: 40px;
  margin: 0 auto;
}
.header .group-lnb .lnb-item:first-of-type .tab-lnb {
  padding-left: 22px;
}
.header .group-lnb .lnb-item:last-of-type .tab-lnb {
  padding-right: 22px;
}
.header .group-lnb .lnb-item.active span {
  color: #00d564;
  border-bottom: 2px solid #00d564;
}
.header .group-lnb .tab-lnb {
  display: block;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 600;
}
.header .group-lnb .tab-lnb span {
  display: block;
  margin: 0 3px;
  line-height: 42px;
  height: 42px;
}
.header .group-weekday {
  display: none;
  height: 41px;
  padding: 0 2px;
  border-bottom: 1px solid #ebebeb;
  background: #f8f8f9;
}
.header .group-weekday .weekday-list {
  display: flex;
  justify-content: space-between;
}
.header .group-weekday .weekday-item {
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}
.header .group-weekday .weekday-item.active .link-weekday {
  background-color: #00d564;
  color: #fff;
}
.header .group-weekday .link-weekday {
  display: block;
  margin: 9px 0;
  padding: 0px 7px;
  font-size: 15px;
  font-weight: 600;
  height: 23px;
  line-height: 23px;
  border-radius: 12px;
}

.footer {
  padding: 10px 10px 62px;
  color: #999;
  background-color: #eee;
  text-align: center;
}
.footer .group-banner {
  width: 100%;
  background-color: #fff;
}
.footer .group-banner .link-banner {
  display: block;
  width: 100%;
}
.footer .group-banner .link-banner img {
  max-width: 300px;
  margin: 0 auto;
}
.footer .group-fnb {
  margin-top: 10px;
  background-color: #fff;
}
.footer .group-fnb .fnb-list {
  display: flex;
  justify-content: center;
  height: 47px;
}
.footer .group-fnb .fnb-item {
  line-height: 48px;
}
.footer .group-fnb .fnb-item:last-of-type a::after {
  content: none;
}
.footer .group-fnb .link-fnb {
  position: relative;
  display: block;
  padding: 0 19px 0 18px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}
.footer .group-fnb .link-fnb::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.footer .group-info {
  margin-top: 16px;
}
.footer .group-info .relative-link {
  display: flex;
  justify-content: center;
}
.footer .group-info .relative-link .link-rel {
  position: relative;
  padding: 10px 8px 9px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 15px;
}
.footer .group-info .relative-link .link-rel::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 1px;
  height: 10px;
  background: #ccc;
}
.footer .group-info .relative-link .link-rel:last-of-type::after {
  content: none;
}
.footer .group-info .biz-info-wrap {
  display: none;
  padding-top: 14px;
  font-size: 11px;
  line-height: 16px;
}
.footer .group-info .biz-info-wrap.active {
  display: block;
}
.footer .group-info .btn-info {
  font-size: 12px;
  line-height: 15px;
}
.footer .group-info .btn-info .ic-arrow {
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-left: 3px;
  vertical-align: 1px;
  background-position: -318px -149px;
}
.footer .group-info .btn-info.active .ic-arrow {
  vertical-align: 2px;
  background-position: -318px -157px;
}
.footer .group-info .link-biz-info {
  display: inline-block;
  margin: 11px 0 8px;
  border-bottom: 1px solid hsla(0deg, 0%, 60%, 0.55);
  line-height: 12px;
  color: #999;
}
.footer .group-info .info-desc {
  font-size: 11px;
  line-height: 16px;
  padding: 6px 0 22px;
  text-align: center;
}
.footer .group-info .group-webtoon-corp {
  padding-top: 18px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  margin: 0 -10px;
}
.footer .group-info .group-webtoon-corp .corp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 355px;
  margin: 0 auto;
}
.footer .group-info .group-webtoon-corp .corp-item {
  display: flex;
  margin-top: 2px;
}
.footer .group-info .group-webtoon-corp .corp-item::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 3px 8px 0;
  background-color: #ccc;
}
.footer .group-info .group-webtoon-corp .corp-item:nth-child(3n)::after {
  content: none;
}
.footer .group-info .group-webtoon-corp .corp-item strong {
  font-weight: 700;
}
.footer .group-info .group-webtoon-corp .link-corp {
  font-size: 12px;
  line-height: 15px;
}
.footer .group-info .group-webtoon-corp .link-webtoon-corp {
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
  width: 132px;
  height: 9px;
  background-position: 0 -196px;
}
.footer .group-info .group-naver-corp {
  padding-top: 16px;
}
.footer .group-info .group-naver-corp .corp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 260px;
  margin: 0 auto;
}
.footer .group-info .group-naver-corp .corp-item {
  display: flex;
  margin-top: 2px;
}
.footer .group-info .group-naver-corp .corp-item::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 3px 8px 0;
  background-color: #ccc;
}
.footer .group-info .group-naver-corp .corp-item:nth-child(3)::after, .footer .group-info .group-naver-corp .corp-item:nth-child(5)::after {
  content: none;
}
.footer .group-info .group-naver-corp .corp-item strong {
  font-weight: 700;
}
.footer .group-info .group-naver-corp .link-corp {
  font-size: 12px;
  line-height: 15px;
}
.footer .group-info .group-naver-corp .link-naver-corp {
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  margin-top: 5px;
  width: 77px;
  height: 9px;
  background-position: -134px -196px;
}

.title-area {
  padding: 0 16px;
}
.title-area .sc-title {
  font-size: 15px;
  font-weight: 700;
}

#home .sc-rising .webtoon-list {
  padding-left: 16px;
}
#home .sc-rising .webtoon-item + li {
  margin-top: 6px;
}
#home .sc-rising .link-webtoon {
  display: block;
}
#home .sc-rising .link-webtoon::after {
  content: "";
  display: block;
  clear: both;
}
#home .sc-rising .thumbnail {
  position: relative;
  float: left;
  overflow: hidden;
  width: 78px;
  height: 55px;
  border-radius: 2px;
}
#home .sc-rising .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#home .sc-rising .thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  width: auto;
  height: 100%;
  margin: auto;
}
#home .sc-rising .info-box {
  display: flex;
  overflow: hidden;
  height: 100%;
}
#home .sc-rising .ranking-num {
  display: block;
  width: 38px;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
#home .sc-rising .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}
#home .sc-rising .badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
#home .sc-rising .badge > i {
  background-image: url(../images/sp-badge-bg.png);
  background-repeat: no-repeat;
  background-size: 136px 124px;
  vertical-align: top;
  display: inline-block;
  margin-top: 1px;
  width: 22px;
  height: 12px;
}
#home .sc-rising .ic-up {
  background-position: -30px -85px;
}
#home .sc-rising .ic-cuttoon {
  background-position: 0 -99px;
}
#home .sc-rising .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
  font-size: 12px;
  color: #999;
}
#home .sc-new .swiper {
  padding: 0px 83px 0px 16px;
}
#home .sc-new .swiper-slide {
  height: 130px;
  margin-top: 12px;
}
#home .sc-new .link-new {
  display: block;
  height: 100%;
  overflow: hidden;
  background-color: #ffc08d;
  border-radius: 2px;
}
#home .sc-new .link-new::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#home .sc-new .content-wrap {
  position: relative;
  max-width: 296px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#home .sc-new .info-box {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  z-index: 2;
}
#home .sc-new .info-box > * {
  display: block;
}
#home .sc-new .thumb-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 163px;
  height: 130px;
}
#home .sc-new .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 19px;
  max-height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  width: 118px;
  font-size: 16px;
  font-weight: 600;
}
#home .sc-new .writer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
  margin-top: 2px;
  font-size: 12px;
  opacity: 0.4;
}
#home .sc-new .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 16px;
  max-height: 32px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  margin-top: 6px;
  width: 118px;
  font-size: 12px;
  color: #4c4c4c;
  letter-spacing: -0.2px;
}
#home .sc-age .webtoon-list {
  width: 411px;
  padding-left: 16px;
}
#home .sc-age .webtoon-item + li {
  margin-top: 6px;
}
#home .sc-age .link-webtoon {
  display: block;
}
#home .sc-age .link-webtoon::after {
  content: "";
  display: block;
  clear: both;
}
#home .sc-age .thumbnail {
  position: relative;
  float: left;
  overflow: hidden;
  width: 78px;
  height: 55px;
  border-radius: 2px;
}
#home .sc-age .thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  content: "";
}
#home .sc-age .thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  width: 100%;
  height: 100%;
  margin: auto;
}
#home .sc-age .info-box {
  display: flex;
  overflow: hidden;
  height: 100%;
}
#home .sc-age .ranking-num {
  display: block;
  width: 38px;
  padding-top: 11px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
#home .sc-age .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}
#home .sc-age .writer {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
  font-size: 12px;
  color: #999;
}
#home .sc-age .badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
#home .sc-age .badge > i {
  background-image: url(../images/sp-badge-bg.png);
  background-repeat: no-repeat;
  background-size: 136px 124px;
  vertical-align: top;
  display: inline-block;
  margin-top: 1px;
  width: 22px;
  height: 12px;
}
#home .sc-age .ic-up {
  background-position: -30px -85px;
}
#home .sc-age .ic-cuttoon {
  background-position: 0 -99px;
}
#home .sc-collection {
  overflow: hidden;
}
#home .sc-collection .webtoon-list {
  display: flex;
  padding-top: 10px;
  padding-left: 16px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#home .sc-collection .webtoon-list::-webkit-scrollbar {
  display: none;
}
#home .sc-collection .webtoon-item + li {
  padding-left: 8px;
}
#home .sc-collection .webtoon-item:last-of-type {
  padding-right: 8px;
}
#home .sc-collection .link-webtoon {
  display: block;
}
#home .sc-collection .thumbnail {
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 2px;
}
#home .sc-collection .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 2px;
}
#home .sc-collection .thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  width: auto;
  height: 100%;
  margin: auto;
}
#home .sc-collection .info-box > * {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#home .sc-collection .webtoon-tit {
  width: 120px;
  padding-top: 7px;
  font-size: 14px;
}
#home .sc-collection .writer {
  margin-top: 1px;
  font-size: 12px;
  color: #999;
}

#weekday .sc-new .swiper-slide {
  padding-left: 16px;
}
#weekday .sc-new .swiper-slide::after {
  content: "";
  display: block;
  clear: both;
}
#weekday .sc-new .thumbnail {
  position: relative;
  width: 111px;
  height: 111px;
  float: left;
  overflow: hidden;
  border-radius: 2px;
}
#weekday .sc-new .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#weekday .sc-new .thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  width: auto;
  height: 100%;
  margin: auto;
}
#weekday .sc-new .info-box {
  overflow: hidden;
  padding: 11px 23px 0 23px;
}
#weekday .sc-new .info-box > * {
  display: block;
}
#weekday .sc-new .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
#weekday .sc-new .writer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
  font-size: 13px;
  color: #999;
}
#weekday .sc-new .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 19px;
  max-height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  margin-top: 13px;
  font-size: 13px;
  color: #4c4c4c;
}
#weekday .sc-webtoon .webtoon-list {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#weekday .sc-webtoon .webtoon-item {
  width: calc((100% - 10px) / 3);
  margin-bottom: 15px;
}
#weekday .sc-webtoon .info-box {
  margin-top: 7px;
}
#weekday .sc-webtoon .info-box > * {
  display: block;
}
#weekday .sc-webtoon .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}
#weekday .sc-webtoon .badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
#weekday .sc-webtoon .badge > i {
  background-image: url(../images/sp-badge-bg.png);
  background-repeat: no-repeat;
  background-size: 136px 124px;
  vertical-align: top;
  display: inline-block;
  width: 17px;
  height: 11px;
  margin: 2px 0 0 2px;
}
#weekday .sc-webtoon .ic-break {
  background-position: 0 -113px;
}
#weekday .sc-webtoon .writer {
  margin-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
#weekday .sc-webtoon .like {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
#weekday .sc-webtoon .link-shortcut {
  position: relative;
  display: block;
  height: 46px;
  padding: 0 16px 0 48px;
  font-size: 13px;
  letter-spacing: -0.43px;
  line-height: 46px;
  border-top: 1px solid #eee;
}
#weekday .sc-webtoon .link-shortcut::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 16px;
  width: 26px;
  height: 26px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -268px -142px;
}

#end .sc-end .swiper-slide {
  padding-left: 16px;
}
#end .sc-end .swiper-slide::after {
  content: "";
  display: block;
  clear: both;
}
#end .sc-end .thumbnail {
  position: relative;
  width: 111px;
  height: 111px;
  float: left;
  overflow: hidden;
  border-radius: 2px;
}
#end .sc-end .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
#end .sc-end .thumbnail img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10%;
  right: -10%;
  width: auto;
  height: 100%;
  margin: auto;
}
#end .sc-end .info-box {
  overflow: hidden;
  padding: 11px 23px 0 23px;
}
#end .sc-end .info-box > * {
  display: block;
}
#end .sc-end .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
#end .sc-end .writer {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 3px;
  font-size: 13px;
  color: #999;
}
#end .sc-end .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 19px;
  max-height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; /* autoprefixer: off */
  margin-top: 13px;
  font-size: 13px;
  color: #4c4c4c;
}
#end .sc-webtoon .webtoon-list {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#end .sc-webtoon .webtoon-item {
  width: calc((100% - 10px) / 3);
  margin-bottom: 15px;
}
#end .sc-webtoon .info-box {
  margin-top: 7px;
}
#end .sc-webtoon .info-box > * {
  display: block;
}
#end .sc-webtoon .webtoon-tit {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}
#end .sc-webtoon .badge {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}
#end .sc-webtoon .badge > i {
  background-image: url(../images/sp-badge-bg.png);
  background-repeat: no-repeat;
  background-size: 136px 124px;
  vertical-align: top;
  display: inline-block;
  width: 17px;
  height: 11px;
  margin: 2px 0 0 2px;
}
#end .sc-webtoon .ic-break {
  background-position: 0 -113px;
}
#end .sc-webtoon .writer {
  margin-top: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
#end .sc-webtoon .like {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
#end .sc-webtoon .link-shortcut {
  position: relative;
  display: block;
  height: 46px;
  padding: 0 16px 0 48px;
  font-size: 13px;
  letter-spacing: -0.43px;
  line-height: 46px;
  border-top: 1px solid #eee;
}
#end .sc-webtoon .link-shortcut::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 16px;
  width: 26px;
  height: 26px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -268px -142px;
}

.container {
  width: 100%;
  background-color: #eee;
}
.container > * {
  padding-top: 86px;
}

#home {
  display: none;
}
#home .webtoon-banner .link-banner {
  display: block;
  width: 100%;
  height: 100%;
}
#home .webtoon-banner .link-banner img {
  display: block;
  max-width: 320px;
  margin: 0 auto;
}
#home .webtoon-banner.banner1 .link-banner {
  background-color: #25a3ff;
}
#home .webtoon-banner.banner2 .link-banner {
  background-color: #8bf1fe;
}
#home .webtoon-banner.banner3 .link-banner {
  background-color: #233f4d;
}
#home .sc-rising {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 40px 0 20px;
}
#home .sc-rising .title-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#home .sc-rising .tab-area a {
  position: relative;
  padding: 1px 9px 0 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #999;
}
#home .sc-rising .btn-webtoon::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -2px;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 11px;
  background-color: #eee;
}
#home .sc-rising .btn-webtoon.active {
  color: #000;
}
#home .group-wrap {
  background-color: #fff;
  padding: 20px 0;
}
#home .sc-new {
  padding: 20px 0;
}
#home .sc-new .title-area {
  display: flex;
  justify-content: space-between;
}
#home .sc-new .swiper {
  position: relative;
}
#home .sc-new .swiper-pagination-fraction {
  font-size: 0;
  width: auto;
}
#home .sc-new .swiper-pagination-total {
  color: #999;
  font-size: 14px;
}
#home .sc-new .swiper-pagination-total::before {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -318px -102px;
  width: 8px;
  height: 9px;
  margin: 4px 3px 0;
}
#home .sc-new .swiper-pagination-current {
  color: #000;
  font-size: 14px;
}
#home .sc-new .fraction > * {
  font-weight: 700;
}
#home .sc-age {
  padding-top: 20px;
}
#home .sc-age .tab-area {
  padding-left: 2px;
  margin: 5px 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#home .sc-age .tab-area::-webkit-scrollbar {
  display: none;
}
#home .sc-age .btn-tab {
  display: inline-block;
  padding: 5px 13px;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  line-height: 16px;
}
#home .sc-age .btn-tab.swiper-pagination-bullet {
  margin: 0;
  width: auto;
  height: auto;
  background: none;
  opacity: 1;
}
#home .sc-age .btn-tab.swiper-pagination-bullet-active {
  color: #000;
}
#home .sc-collection {
  padding: 40px 0 20px;
  background-color: #fff;
}

#weekday {
  display: none;
  padding-top: 127px;
}
#weekday .sc-new {
  padding: 20px 0;
  background-color: #fff;
  margin-bottom: 5px;
}
#weekday .sc-new .title-area {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 10px;
}
#weekday .sc-new .swiper {
  position: relative;
}
#weekday .sc-new .swiper-pagination-fraction {
  font-size: 0;
  width: auto;
}
#weekday .sc-new .swiper-pagination-total {
  color: #999;
  font-size: 14px;
}
#weekday .sc-new .swiper-pagination-total::before {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -318px -102px;
  width: 8px;
  height: 9px;
  margin: 4px 3px 0;
}
#weekday .sc-new .swiper-pagination-current {
  color: #000;
  font-size: 14px;
}
#weekday .sc-new .fraction > * {
  font-weight: 700;
}
#weekday .sc-webtoon {
  background-color: #fff;
}
#weekday .sc-webtoon .header-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 0;
}
#weekday .sc-webtoon .select-tit {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 7px 11px 7px 7px;
  font-size: 12px;
  font-weight: 500;
}
#weekday .sc-webtoon .select-tit::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 0;
  height: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 5px 3.5px;
}
#weekday .sc-webtoon .select-box {
  position: relative;
  padding: 7px 11px 7px 7px;
  margin-right: auto;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  line-height: 13px;
  opacity: 0;
}
#weekday .sc-webtoon .link-like {
  position: relative;
  padding: 5px 8px 4px 17px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  line-height: 15px;
  letter-spacing: -0.025em;
}
#weekday .sc-webtoon .link-like::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -255px -271px;
}

#end {
  display: block;
}
#end .sc-end {
  padding: 20px 0;
  background-color: #fff;
}
#end .sc-end .title-area {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 10px;
}
#end .sc-end .swiper {
  position: relative;
}
#end .sc-end .swiper-pagination-fraction {
  font-size: 0;
  width: auto;
}
#end .sc-end .swiper-pagination-total {
  color: #999;
  font-size: 14px;
}
#end .sc-end .swiper-pagination-total::before {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -318px -102px;
  width: 8px;
  height: 9px;
  margin: 4px 3px 0;
}
#end .sc-end .swiper-pagination-current {
  color: #000;
  font-size: 14px;
}
#end .sc-end .fraction > * {
  font-weight: 700;
}
#end .group-category {
  height: 41px;
  padding: 0 2px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
  background: #f8f8f9;
}
#end .group-category .category-list {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#end .group-category .category-list::-webkit-scrollbar {
  display: none;
}
#end .group-category .category-item {
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}
#end .group-category .category-item.active .btn-tab {
  background-color: #00d564;
  color: #fff;
}
#end .group-category .btn-tab {
  display: block;
  margin: 9px 0;
  padding: 0px 7px;
  font-size: 15px;
  font-weight: 600;
  height: 23px;
  line-height: 23px;
  border-radius: 12px;
}
#end .sc-webtoon {
  background-color: #fff;
}
#end .sc-webtoon .header-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 12px 8px 0;
}
#end .sc-webtoon .select-tit {
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 7px 11px 7px 7px;
  font-size: 12px;
  font-weight: 500;
}
#end .sc-webtoon .select-tit::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 0;
  height: 0;
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 5px 3.5px;
}
#end .sc-webtoon .select-box {
  position: relative;
  padding: 7px 11px 7px 7px;
  margin-right: auto;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  line-height: 13px;
  opacity: 0;
}
#end .sc-webtoon .link-like {
  position: relative;
  padding: 5px 8px 4px 17px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  line-height: 15px;
  letter-spacing: -0.025em;
}
#end .sc-webtoon .link-like::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -255px -271px;
}
#end .sc-webtoon .pagination {
  padding: 12px 0;
  display: flex;
  justify-content: center;
}
#end .sc-webtoon .btn-arrow {
  display: inline-block;
  overflow: hidden;
  width: 28px;
  height: 22px;
  border: 1px solid #eee;
  border-radius: 2px;
}
#end .sc-webtoon .btn-arrow::before {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
#end .sc-webtoon .btn-arrow.prev::before {
  background-position: -298px 0;
}
#end .sc-webtoon .btn-arrow.next::before {
  background-position: -298px -40px;
}
#end .sc-webtoon .page {
  display: inline-block;
  padding: 0 37px;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  color: #191c1c;
}
#end .sc-webtoon .total {
  color: #999;
}
#end .sc-webtoon .total::before {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -318px -102px;
  width: 8px;
  height: 9px;
  margin: 4px 3px 0;
}

#bestchallenge {
  display: none;
}