@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  width: 100%;
  font-size: 14px;
  line-height: 1.25em;
  color: #000;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

.header .group-flex1 {
  display: flex;
  justify-content: space-between;
  margin: 9px 11px 0;
  font-size: 18px;
  font-weight: 600;
}
.header .group-flex1 .logo-gnb {
  display: flex;
  align-items: center;
  color: #ccc;
}
.header .group-flex1 .link-logo {
  position: relative;
  padding: 8px 8px 6px 6px;
}
.header .group-flex1 .link-logo::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  background-color: #eee;
}
.header .group-flex1 .link-logo:first-of-type::after, .header .group-flex1 .link-logo:last-of-type::after {
  content: none;
}
.header .group-flex1 .link-logo:first-of-type {
  padding: 5px 5px 4px;
}
.header .group-flex1 .link-logo:first-of-type::before {
  content: "";
  width: 17px;
  height: 16px;
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
  background-position: -298px -182px;
}
.header .group-flex1 .link-logo.active {
  color: #000;
}
.header .group-flex1 .link-wrap {
  display: flex;
  align-items: center;
}
.header .group-flex1 .link-wrap a {
  padding: 8px;
}
.header .group-flex1 .link-wrap a::after {
  content: "";
  background-image: url(../images/sp-comic-bg.png);
  background-repeat: no-repeat;
  background-size: 330px 312px;
  vertical-align: top;
  display: inline-block;
}
.header .group-flex1 .link-search::after {
  width: 16px;
  height: 16px;
  background-position: -298px -237px;
}
.header .group-flex1 .link-mypage::after {
  width: 29px;
  height: 16px;
  background-position: -180px -245px;
}
.header .group-lnb .lnb-area {
  margin-top: 2px;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  background: #fff;
}
.header .group-lnb .lnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 558px;
  height: 40px;
}
.header .group-lnb .lnb-item:first-of-type .tab-lnb {
  padding-left: 22px;
}
.header .group-lnb .lnb-item:last-of-type .tab-lnb {
  padding-right: 22px;
}
.header .group-lnb .lnb-item.active span {
  color: #00d564;
  border-bottom: 2px solid #00d564;
}
.header .group-lnb .tab-lnb {
  display: block;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 600;
}
.header .group-lnb .tab-lnb span {
  display: block;
  margin: 0 3px;
  line-height: 40px;
  height: 42px;
}
.header .group-weekday {
  display: none;
  height: 41px;
  padding: 0 2px;
  border-bottom: 1px solid #ebebeb;
  background: #f8f8f9;
}
.header .group-weekday .weekday-list {
  display: flex;
  justify-content: space-between;
}
.header .group-weekday .weekday-item {
  height: 40px;
  line-height: 40px;
  padding: 0 4px;
}
.header .group-weekday .weekday-item.active .link-weekday {
  background-color: #00d564;
  color: #fff;
}
.header .group-weekday .link-weekday {
  display: block;
  margin: 9px 0;
  padding: 0px 7px;
  font-size: 15px;
  font-weight: 600;
  height: 23px;
  line-height: 23px;
  border-radius: 12px;
}

.footer {
  padding: 10px 10px 62px;
  color: #999;
  background-color: #eee;
  text-align: center;
}
.footer .group-banner {
  width: 100%;
}
.footer .group-banner .link-banner {
  display: block;
  width: 100%;
}
.footer .group-fnb {
  margin-top: 10px;
  background-color: #fff;
}
.footer .group-fnb .fnb-list {
  display: flex;
  justify-content: center;
  height: 47px;
}
.footer .group-fnb .fnb-item {
  line-height: 48px;
}
.footer .group-fnb .fnb-item:last-of-type a::after {
  content: none;
}
.footer .group-fnb .link-fnb {
  position: relative;
  display: block;
  padding: 0 19px 0 18px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  white-space: nowrap;
}
.footer .group-fnb .link-fnb::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 0;
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}
.footer .group-info {
  margin-top: 16px;
}
.footer .group-info .relative-list {
  display: flex;
  justify-content: center;
}
.footer .group-info .relative-list .link-rel {
  position: relative;
  padding: 10px 8px 9px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 15px;
}
.footer .group-info .relative-list .link-rel::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 1px;
  height: 10px;
  background: #ccc;
}
.footer .group-info .relative-list .link-rel:last-of-type::after {
  content: none;
}