#home {
    .sc-rising {
        .swiper-slide {
            
        }
        .webtoon-list {
            padding-left: 16px;
        }
        .webtoon-item {
            & + li {
                margin-top: 6px;
            }
        }
        .link-webtoon {
            display: block;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .thumbnail {
            position: relative;
            float: left;
            overflow: hidden;
            width: 78px;
            height: 55px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            display: flex;
            overflow: hidden;
            height: 100%;
            //padding-left: 38px;
        }
        .ranking-num {
            display: block;
            width: 38px;
            padding-top: 11px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #222;
        }
        .webtoon-tit {
            @include ellip(18px,1);
            font-weight: 600;
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            & > i {
                @include badge-img;
                margin-top: 1px;
                width: 22px;
                height: 12px;
            }
        }
        .ic-up {
            background-position: -30px -85px;
        }
        .ic-cuttoon {
            background-position: 0 -99px;
        }
        .desc {
            @include ellip(15px,1);
            margin-top: 3px;
            font-size: 12px;
            color: #999;
        }
    }
    .sc-new {
        .swiper {
            padding: 0px 83px 0px 16px;
        }
        .swiper-slide {
            height: 130px;
            margin-top: 12px;
        }
        .link-new {
            display: block;
            height: 100%;
            overflow: hidden;
            background-color: #ffc08d;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
        }
        .content-wrap {
            position: relative;
            max-width: 296px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        .info-box {
            position: absolute;
            top: 50%;
            left: 16px;
            transform: translateY(-50%);
            z-index: 2;
            & > * {
                display: block;
            }
        }
        .thumb-box {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 163px;
            height: 130px;
        }
        .webtoon-tit {
            @include ellip(19px,2);
            width: 118px;
            font-size: 16px;
            font-weight: 600;
        }
        .writer {
            @include ellip(15px,1);
            width: 120px;
            margin-top: 2px;
            font-size: 12px;
            opacity: .4;
        }
        .desc {
            @include ellip(16px,2);
            margin-top: 6px;
            width: 118px;
            font-size: 12px;
            color: #4c4c4c;
            letter-spacing: -.2px;
        }

    }
    .sc-age {
        .swiper-slide {
        
        }
        .webtoon-list {
            width: 411px;
            padding-left: 16px;
        }
        .webtoon-item {
            & + li {
                margin-top: 6px;
            }
        }
        .link-webtoon {
            display: block;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .thumbnail {
            position: relative;
            float: left;
            overflow: hidden;
            width: 78px;
            height: 55px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
                content: "";
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: 100%;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            display: flex;
            overflow: hidden;
            height: 100%;
            //padding-left: 38px;
        }
        .ranking-num {
            display: block;
            width: 38px;
            padding-top: 11px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #222;
        }
        .webtoon-tit {
            @include ellip(18px,1);
            font-weight: 600;
        }
        .writer {
            display: block;
            @include ellip(15px,1);
            margin-top: 3px;
            font-size: 12px;
            color: #999;
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            & > i {
                @include badge-img;
                margin-top: 1px;
                width: 22px;
                height: 12px;
            }
        }
        .ic-up {
            background-position: -30px -85px;
        }
        .ic-cuttoon {
            background-position: 0 -99px;
        }
    }
    .sc-collection {
        overflow: hidden;
        .webtoon-list {
            display: flex;
            padding-top: 10px;
            padding-left: 16px;
            overflow-x: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .webtoon-item {
            & + li {
                padding-left: 8px;
            }
            &:last-of-type {
                padding-right: 8px;
            }
        }
        .link-webtoon {
            display: block;
        }
        .thumbnail {
            position: relative;
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
                border-radius: 2px;
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            & > * {
                display: block;
                @include ellip(1.25em,1);
            }
        }
        .webtoon-tit {
            width: 120px;
            padding-top: 7px;
            font-size: 14px;
        }
        .writer {
            margin-top: 1px;
            font-size: 12px;
            color: #999;
        }
    }
}
#weekday {
    .sc-new {
        .swiper-slide {
            padding-left: 16px;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .link-webtoon {
            display: block;
            height: 111px;
        }
        .thumbnail {
            position: relative;
            width: 111px;
            height: 111px;
            float: left;
            overflow: hidden;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            overflow: hidden;
            padding: 11px 23px 0 23px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(20px,1);
            font-size: 16px;
        }
        .writer {
            @include ellip(15px,1);
            margin-top: 3px;
            font-size: 13px;
            color: #999;
        }
        .desc {
            @include ellip(19px,2);
            margin-top: 13px;
            font-size: 13px;
            color: #4c4c4c;
        }
    }

    .sc-webtoon {
        .webtoon-list {
            padding: 0 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .webtoon-item {
            width: calc((100% - 10px) / 3);
            margin-bottom: 15px;
        }
        .link-webtoon {
            display: block;
        }
        .thumbnail {
            position: relative;
            overflow: hidden;
            padding-top: 129.7297%;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            margin-top: 7px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(1.25em,1);
            font-weight: 600;
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            & > i {
                @include badge-img;
                width: 17px;
                height: 11px;
                margin: 2px 0 0 2px;
            }
        }
        .ic-break {
            background-position: 0 -113px;
        }
        .writer {
            margin-top: 2px;
            @include ellip(15px,1);
            font-size: 12px;
            color: #999;
        }
        .like {
            @include ellip(15px,1);
            font-size: 12px;
            color: #999;
        }
        .link-shortcut {
            position: relative;
            display: block;
            height: 46px;
            padding: 0 16px 0 48px;
            font-size: 13px;
            letter-spacing: -.43px;
            line-height: 46px;
            border-top: 1px solid #eee;
            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 16px;
                width: 26px;
                height: 26px;
                @include comic-img;
                background-position: -268px -142px;
            }
        }
    }
}

#end {
    .sc-end {
        .swiper-slide {
            padding-left: 16px;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .link-webtoon {
            display: block;
            height: 111px;
        }
        .thumbnail {
            position: relative;
            width: 111px;
            height: 111px;
            float: left;
            overflow: hidden;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            overflow: hidden;
            padding: 11px 23px 0 23px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(20px,1);
            font-size: 16px;
        }
        .writer {
            @include ellip(15px,1);
            margin-top: 3px;
            font-size: 13px;
            color: #999;
        }
        .desc {
            @include ellip(19px,2);
            margin-top: 13px;
            font-size: 13px;
            color: #4c4c4c;
        }
    }

    .sc-webtoon {
        .webtoon-list {
            padding: 0 16px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .webtoon-item {
            width: calc((100% - 10px) / 3);
            margin-bottom: 15px;
        }
        .link-webtoon {
            display: block;
        }
        .thumbnail {
            position: relative;
            overflow: hidden;
            padding-top: 129.7297%;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            margin-top: 7px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(1.25em,1);
            font-weight: 600;
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            & > i {
                @include badge-img;
                width: 17px;
                height: 11px;
                margin: 2px 0 0 2px;
            }
        }
        .ic-break {
            background-position: 0 -113px;
        }
        .writer {
            margin-top: 2px;
            @include ellip(15px,1);
            font-size: 12px;
            color: #999;
        }
        .like {
            @include ellip(15px,1);
            font-size: 12px;
            color: #999;
        }
        .link-shortcut {
            position: relative;
            display: block;
            height: 46px;
            padding: 0 16px 0 48px;
            font-size: 13px;
            letter-spacing: -.43px;
            line-height: 46px;
            border-top: 1px solid #eee;
            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 16px;
                width: 26px;
                height: 26px;
                @include comic-img;
                background-position: -268px -142px;
            }
        }
    }
}
#bestchallenge {
    .sc-best {
        .best-list {
            display: flex;
            justify-content: space-between;
            padding: 0 16px;
        }
        .best-item {
            width: calc((100% - 10px) / 3);
        }
        .link-best {
            display: block;
        }
        .thumbnail {
            position: relative;
            overflow: hidden;
            padding-top: 81.095%;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            margin-top: 7px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(1.25em,1);
        }
        .writer {
            @include ellip(16px,1);
            margin-top: 1px;
            font-size: 12px;
            color: #999;
        }
    }
    .sc-webtoon {
        .webtoon-item {
            padding: 8px 16px;
            border-bottom: 1px solid #f2f2f2;
        }
        .link-webtoon {
            display: block;
            &::after {
                content: '';
                display: block;
                clear: both;
            }
        }
        .thumbnail {
            position: relative;
            overflow: hidden;
            float: left;
            width: 111px;
            height: 90px;
            margin-right: 12px;
            padding-top: 0;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid rgba(0,0,0,.06);
            }
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -10%;
                right: -10%;
                width: auto;
                height: 100%;
                margin: auto;
            }
        }
        .info-box {
            overflow: hidden;
            min-height: 84px;
            padding-top: 6px;
            & > * {
                display: block;
            }
        }
        .webtoon-tit {
            @include ellip(1.25em,1);
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            & > i {
                @include badge-img;
                width: 23px;
                height: 14px;
                margin: 2px 0 0 2px;
            }
            .ic-up {
                background-position: -30px -85px;
            }
        }
        .writer {
            @include ellip(15px,1);
            display: block;
            margin: 3px 0 0 1px;
            font-size: 12px;
            color: #999;
        }
        .desc {
            @include ellip(1.25em,1);
            display: block;
            margin-top: 4px;
            font-size: 13px;
            color: #999;
        }
        .detail {
            margin-top: 10px;
            line-height: 12px;
            font-size: 12px;
            & * {
                display: inline-block;
            }
        }
        .score {
            margin: 0 5px 0 -2px;
            color: #ff3a46;
            .ic-score {
                width: 12px;
                height: 12px;
                @include comic-img;
                margin: -1px 0 0 1px;
                background-position: -318px -70px;
            }
        }
        .time {
            color: #999;
        }
    }
}