.footer {
    padding: 10px 10px 62px;
    color: #999;
    background-color: #eee;
    text-align: center;
    .group-banner {
        width: 100%;
        .link-banner {
            display: block;
            width: 100%;
        }
    }
    .group-fnb {
        margin-top: 10px;
        background-color: #fff;
        .fnb-list {
            display: flex;
            justify-content: center;
            height: 47px;
        }
        .fnb-item {
            line-height: 48px;
            &:last-of-type {
                a {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .link-fnb {
            position: relative;
            display: block;
            padding: 0 19px 0 18px;
            font-size: 14px;
            font-weight: 600;
            color:#000;
            white-space: nowrap;
            &::after {
                content: '';
                position: absolute;
                top: 19px;
                right: 0;
                display: inline-block;
                vertical-align: top;
                width: 1px;
                height: 10px;
                background-color: #ccc;
            }
        }
    }
    .group-info {
        margin-top: 16px;
        .relative-list {
            display: flex;
            justify-content: center;
            .link-rel {
                position: relative;
                padding: 10px 8px 9px 9px;
                font-size: 14px;
                font-weight: 500;
                color: #444;
                line-height: 15px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 0;
                    width: 1px;
                    height: 10px;
                    background: #ccc;
                }
                &:last-of-type {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}