.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    transition: top 0.5s;
    &.active {
        top: -45px;
    }
    &.active2 {
        top: -87px;
    }
    .group-flex1 {
        display: flex;
        justify-content: space-between;
        margin: 9px 11px 0;
        font-size: 18px;
        font-weight: 600;
        .logo-gnb {
            display: flex;
            align-items: center;
            color: #ccc;
        }
        .link-logo {
            position: relative;
            padding: 8px 8px 6px 6px;
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: 0;
                display: inline-block;
                vertical-align: middle;
                width: 1px;
                height: 15px;
                background-color: #eee;
            }
            &:first-of-type,
            &:last-of-type {
                &::after {
                    content: none;
                }
            }
            &:first-of-type {
                padding: 5px 5px 4px;
                &::before {
                    content: '';
                    width: 17px;
                    height: 16px;
                    @include comic-img;
                    background-position: -298px -182px;
                }
            }
            &.active {
                color: #000;
            }
        }
        .link-wrap {
            display: flex;
            align-items: center;
            a {
                padding: 8px;
                &::after {
                    content: '';
                    @include comic-img;
                }
            }
        }
        .link-search {
            &::after {
                width: 16px;
                height: 16px;
                background-position: -298px -237px;
            }
        }
        .link-mypage {
            &::after {
                width: 29px;
                height: 16px;
                background-position: -180px -245px;
            }
        }
    }

    .group-lnb {
        .lnb-area {
            margin-top: 2px;
            border-bottom: 1px solid #ebebeb;
            text-align: center;
            background: #fff;
        }
        .lnb-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 558px;
            height: 40px;
            margin: 0 auto;
        }
        .lnb-item {
            &:first-of-type {
                .tab-lnb {
                    padding-left: 22px;
                }
            }
            &:last-of-type {
                .tab-lnb {
                    padding-right: 22px;
                }
            }
            &.active {
                span {
                    color: #00d564;
                    border-bottom: 2px solid #00d564;
                }
            }
        }
        .tab-lnb {
            display: block;
            padding: 0 12px;
            font-size: 15px;
            font-weight: 600;
            span {
                display: block;
                margin: 0 3px;
                line-height: 42px;
                height: 42px;
            }
        }
    }

    .group-weekday {
        display: none;
        height: 41px;
        padding: 0 2px;
        border-bottom: 1px solid #ebebeb;
        background: #f8f8f9;
        &.active {
            display: block;
        }
        .weekday-list {
            display: flex;
            justify-content: space-between;
        }
        .weekday-item {
            height: 40px;
            line-height: 40px;
            padding: 0 4px;
            &.active {
                .link-weekday {
                    background-color: #00d564;
                    color: #fff;
                }
            }
        }
        .link-weekday {
            display: block;
            margin: 9px 0;
            padding: 0px 7px;
            font-size: 15px;
            font-weight: 600;
            height: 23px;
            line-height: 23px;
            border-radius: 12px;
        }
    }
}